<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--单点登录的访问地址-->
    <!--正式环境调试-->
    <!--<add key="sso_url" value="http://sso.chainclouds.com" />-->
    <!--DEV环境调试-->
    <add key="sso_url" value="http://sso.dev.xgx.chainclouds.cn/" />
    <!--UAT环境调试-->
    <!--<add key="sso_url" value="http://sso.UAT.chainclouds.com" />-->
    <!--本地调试-->
    <!--<add key="sso_url" value="http://localhost:42157/sso" />-->
    <add key="sso_url_local" value="http://localhost:2330/" />
    <!--附件图片访问地址-->
    <add key="AttachFilePath" value="http://localhost:9004" />
    <add key="interfacehost" value="http://api.dev.chainclouds.cn" />
    <!--sina weibo app key,用来调用短网址接口-->
    <add key="sinaWeiboKey" value="504136043" />
    <!--FTP上传图片地址 暂不用-->
    <!--<add key="FtpUrl" value="img.chainclouds.cn" />  
    <add key="FtpUser" value="aldImgUp" />
    <add key="FtpPassword" value="ald123" />
    <add key="FtpMappingUrl" value="http://img.chainclouds.cn" />-->
    <add key="FtpUrl" value="" />
    <!--ftp://aldImgUp@img.chainclouds.cn-->
    <add key="FtpUser" value="" />
    <add key="FtpPassword" value="" />
    <add key="FtpMappingUrl" value="" />
    <!--静态文件分离url-->
    <!--正式环境-->
    <!--<add key="staticUrl" value="http://static.aladingyidong.com" />-->
    <!--开发环境-->
    <add key="staticUrl" value="" />
    <!--巨圣鞋业 DEV环境-->
    <add key="test_customer_id" value="04fee13317ae4aae8ac563c28d6c6e91" />
    <add key="test_token" value="944cee091a59410f8c11073a72fb888c" />
    <!--鸣龙茶叶 UAT环境-->
    <!--<add key="test_customer_id" value="eb17cc2569c74ab7888b1f403972d37d" />
        <add key="test_token" value="a340d5b331ef426e83d7f4af25d6eccb" />-->
    <!--管理平台的访问地址-->
    <!--<add key="ap_url" value="http://ap.dev.chainclouds.cn"" />-->
    <!--云连锁正式环境-->
    <!-- <add key="ap_url" value="http://op.dev.chainclouds.cn" />-->
    <!--本地开发-->
    <!--<add key="ap_url" value="http://localhost:10362" />-->
    <!--是否将所执行的TSQL语句以日志的形式记录下来-->
    <add key="IsLoggingTSQL" value="false" />
    <!--微信推送接口地址Jermyn20130606-->
    <add key="push_weixin_msg_url" value="http://115.29.186.161/ialumni/sendmessage.aspx" />
    <!--kindeditor Web地址-->
    <!--正式环境-->
    <!--<add key="host" value="http://bs.dev.chainclouds.cn/" />-->
    <!--kindeditor Web地址 DEV-->
    <add key="host" value="http://182.254.156.57:813/" />
    <!--开发环境-->
    <add key="Conn" value="user id=admin;password=JtLaxT7668;data source=182.254.151.86,7433;database=cpos_bs;" />
    <add key="Conn_dex" value="user id=admin;password=JtLaxT7668;data source=182.254.151.86,7433;database=cpos_dex;" />
    <add key="Conn_ap" value="user id=admin;password=JtLaxT7668;data source=182.254.151.86,7433,3433;database=cpos_ap;" />
    <!--UAT环境-->
    <!--<add key="APConn" value="user id=dev;password=JtLaxT7668;data source=115.159.42.152,5433;database=cpos_ap;"/>
    <add key="Conn" value="user id=dev;password=JtLaxT7668;data source=115.159.42.152,5433;database=cpos_bs;"/>
    <add key="Conn_dex" value="user id=dev;password=JtLaxT7668;data source=115.159.42.152,5433;database=cpos_dex;" />
    <add key="Conn_ap" value="user id=dev;password=JtLaxT7668;data source=182.254.151.86,7433,5433;database=cpos_ap;" />-->
    <add key="qdy_store1" value="bd3a6de8-3c00-4ef6-b1c4-025d79bd1b8b" />
    <add key="qdy_store2" value="1e8a94c1-167c-4b9c-a7db-9a9cf2915363" />
    <add key="qdy_store3" value="5a287910-8754-4c4e-a222-f2fb5ba07d49" />
    <!--Auth认证-->
    <add key="AuthUrl" value="http://test.o2omarketing.cn:9004/" />
    <add key="DownloadImageUrl" value="http://api.dev.chainclouds.com/" />
    <add key="customer_service_url" value="http://localhost:23130/" />
    <!--二维码-->
    <add key="website_WWW" value="http://localhost:9004/" />
    <add key="interfacehost" value="http://test.o2omarketing.cn:9004/" />
    <add key="interfacehost1" value="http://test.o2omarketing.cn:8400/" />
    <!--支付通道通知url-->
    <!--支付通道-->
    <add key="payChannelUrl" value="http://paycenter.dev.chainclouds.cn/" />
    <!--代付url-->
    <add key="TradeCenterPayUrl" value="http://112.124.68.147:8181/Gateway.ashx" />
    <!--通道ID-->
    <add key="PayChannelID" value="93" />
    <!--站点配置xml文件路径-->
    <add key="xmlFile" value="/Config/config.xml" />
    <add key="SMSURL" value="http://www.jitmarketing.cn:10001/Geteway.ashx" />
    <!--企信部门typeID-->
    <add key="TypeID" value="4E1A9BB0E36F4D2B951E0F477ECB3C0A" />
    <add key="glt_ht_service_url" value="http://test.o2omarketing.cn:9200" />
    <add key="glt_service_url" value="http://test.o2omarketing.cn:9100" />
    <!--公众号登录授权服务(要加http://或https://,末尾不用加/斜杠)-->
    <add key="openOAuthUrl" value="http://dev.open.chainclouds.cn" />
    <!--RedisOpenAPI URL-->
    <add key="RedisApiUrl" value="http://redis.api.test.chainclouds.cn/" />
    <!--灵肯微秀场接口参数-->
    <add key="TokenUrl" value="http://test.linkin.mobi/vveshow/v1/token/get" />
    <add key="TicketUrl" value="http://test.linkin.mobi/vveshow/v1/ticket/getticket" />
    <add key="LinKinUrl" value="http://test.linkin.mobi/vveshow/mobile.html?" />
    <add key="appid" value="lkfb9p7jr6t8ba8k1r" />
    <add key="secret" value="284cf0799a5c4d1da5a5e90f419b7c71" />
    <!--邮件发送参数-->
    <!--发送类型方式-->
    <add key="SMTPServer" value="smtp.exmail.qq.com" />
    <!--发送者邮箱-->
    <add key="SendFrom" value="jianxian.wu@zmind.cn" />
    <!--邮箱密码 -->
    <add key="EmailPassword" value="aQFSf2MTkaRaD2Wwf4JLvw==" />
    <!--发送对象邮箱-->
    <add key="MailTo" value="jianxian.wu@zmind.cn,pan.xiao@zmind.cn" />
    <!--解密秘钥-->
    <add key="DecToken" value="zmind@123" />
    <!--<add key="host" value="http://bs.dev.chainclouds.cn/" />-->
    <add key="RabbitMqHost" value="host=123.206.211.52:5672;persistentMessages=false;virtualHost=xgx;username=zmind;password=zmind123" />
    <add key="IsOpenEventBus" value="true" />
    <add key="IsOpenVipEvent" value="true" />
    <add key="IsOpenUnitEvent" value="true" />
    <add key="IsOpenUserEvent" value="true" />
  </appSettings>
  <system.web>
    <customErrors defaultRedirect="~/Error.aspx" mode="On">
      <error statusCode="404" redirect="~/NotFound.aspx" />
    </customErrors>
    <!--解决提交时长度过长，提交不了的错误-->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="102400" maxQueryStringLength="102400" executionTimeout="3600" />
    <pages validateRequest="false"></pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <sessionState timeout="120" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="LoginManager.aspx" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="102400" />
        <!--解决提交时长度过长，提交不了的错误，和httpRuntime两个都要配置-->
      </requestFiltering>
    </security>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AuthServiceSoap" />
        <binding name="BasicHttpBinding_IMSTRIntegrationService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IMapKpiService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536000" maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="UnitServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sso.t.aladingyidong.com/AuthService.asmx" binding="basicHttpBinding" bindingConfiguration="AuthServiceSoap" contract="AuthManagerWebServices.AuthServiceSoap" name="AuthServiceSoap" />
      <endpoint address="http://222.73.180.225:25161/MSTRIntegrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMSTRIntegrationService" contract="ReportService.IMSTRIntegrationService" name="BasicHttpBinding_IMSTRIntegrationService" />
      <endpoint address="http://dev.jitmarketing.cn:18101/Impls/MapKpiService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMapKpiService" contract="MapKpiService.IMapKpiService" name="BasicHttpBinding_IMapKpiService" />
      <endpoint address="http://test.o2omarketing.cn:9004/WebServices/UnitService.asmx" binding="basicHttpBinding" bindingConfiguration="UnitServiceSoap" contract="UnitServiceSoap.UnitServiceSoap" name="UnitServiceSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>