<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!--记录redis读取的开关-->
    <add key="RedisDBOpen" value="0" />

    <!--客户化配置生成Config文件的路径-->
    <add key="CposWebConfigPath" value="D:\emeisoft\web\wxapi\HtmlApps\config\" />
    <!--客户化配置生成Version文件的路径-->
    <add key="CposWebVersionPath" value="D:\emeisoft\web\awxpi\HtmlApps\version\" />

    <!--员工固定二维码磁盘路径-->
    <add key="DiskImagePath" value="D:\emeisoft\web\wxapi\HeadImage\"/>
    <!--附件图片访问地址-->
    <!--<add key="AttachFilePath" value="http://bs.xgxshop.com" />-->
     <add key="AttachFilePath" value="http://localhost:2330" />
    <!--单点登录的访问地址-->
    <!--<add key="sso_url" value="http://sso.xgxshop.com" />-->
    <add key="sso_url" value="http://localhost:7335" />
    <!--模拟测试的客户ID-->
    <add key="test_customer_id" value="414756570b7c4ec1acf0456ad7f5987f" />
    <!--模拟测试的token-->
    <add key="test_token" value="00376cd25710485ba31eed46fa39fca4" />
    <!--管理平台的访问地址-->
    <add key="ap_url" value="http://ap.xgxshop.com" />
    <!--是否将所执行的TSQL语句以日志的形式记录下来-->
    <add key="IsLoggingTSQL" value="false" />
    <!--微信推送接口地址Jermyn20130606???-->
    <add key="push_weixin_msg_url" value="http://pushmessage.xgxshop.com/ialumni/sendmessage.aspx" />
    <!--kindeditor Web地址,商城模板图片地址-->
    <add key="host" value="http://localhost:2330" />
    <add key="Conn_alading" value="user id=admin;password=Aug20170805;data source=119.29.58.16;database=Alvin_cpos_bs_xgx;" />
    <!--云店商户客户标识-->
    <add key="CloudCustomerId" value="a50f572579f64df49b9247074c7d6d3b"/>
    <add key="original_url" value="http://wxapi.xgxshop.com" />
    <add key="IsOpenVipCardTypeEvent" value="true" />
    <!--新建商户客户初始化使用-->
    <add key="Conn_dex" value="user id=admin;password=Aug20170805;data source=119.29.58.16;database=Alvin_cpos_dex;" />
    <add key="Conn_ap" value="user id=admin;password=Aug20170805;data source=119.29.58.16;database=Alvin_cpos_ap;" />
    <!--不清楚 by Henry 2014-11-17-->
    <add key="qdy_store1" value="bd3a6de8-3c00-4ef6-b1c4-025d79bd1b8b" />
    <add key="qdy_store2" value="1e8a94c1-167c-4b9c-a7db-9a9cf2915363" />
    <add key="qdy_store3" value="5a287910-8754-4c4e-a222-f2fb5ba07d49" />

    <!--Auth认证-->
    <add key="AuthUrl" value="http://wxapi.xgxshop.com/" />
    <add key="DownloadImageUrl" value="http://bs.xgxshop.com/" />

    <!--支付通道-->
    <add key="payChannelUrl" value="http://paycenter.xgxshop.com/" />
    <!--支付通道回调通知URL-->
    <add key="payMentUrl" value="http://wxapi.xgxshop.com/OnlineShopping/Notify/PayNotify.ashx" />
    <!--代付url-->
    <add key="TradeCenterPayUrl" value="http://paycenter.xgxshop.com/Gateway.ashx" />
    <!--通道ID-->
    <add key="PayChannelID" value="91" />
    <!--微信支付回调URl-->
    <add key="wxNativePayNotifyUrl" value="http://paycenter.xgxshop.com/TradeCenter/Notify/WXNativePayNotify.ashx" />

    <!--分销商商品二维码路径-->
    <add key="RetailTraderItemImageUrl" value="D:\emeisoft\web\wxapi"/>
    <!--活动抽奖有效时间（秒）???-->
    <add key="ValidTime" value="120" />
    <add key="ValidationMessage" value="您的验证码是：{0}【泸州老窖】" />
    <!--???-->
    <add key="customer_service_url" value="http://wxapi.xgxshop.com/" />
    <!--Jermyn20140513 设置微信公众平台的接口来源-->
    <add key="interfacehost" value="http://wxapi.xgxshop.com/" />
    <add key="interfacehost1" value="http://bs.xgxshop.com/" />
    <!--二维码 穆横涛 打印扫码-->
    <add key="website_WWW" value="http://bs.xgxshop.com/" />
    <!--报表专用请勿同用-->
    <add key="statementUrl" value="http://119.29.58.16:85" />
    <!--短信发送-->
    <add key="SMSURL" value="http://www.jitmarketing.cn:10001/Geteway.ashx" />

    <!--FTP上传图片地址 暂不用-->
    <!--<add key="FtpUrl" value="img.chainclouds.cn" />  
    <add key="FtpUser" value="aldImgUp" />
    <add key="FtpPassword" value="ald123" />
    <add key="FtpMappingUrl" value="http://img.chainclouds.cn" />-->
    <add key="FtpUrl" value="" />
    <!--ftp://aldImgUp@img.chainclouds.cn-->
    <add key="FtpUser" value="" />
    <add key="FtpPassword" value="" />
    <add key="FtpMappingUrl" value="" />

    <add key="Conn_alading" value="user id=admin;password=Aug20170805;data source=119.29.58.16;database=Alvin_cpos_bs_xgx;" />

    <!--正式环境 静态js/css等 暂不用-->
    <!--<add key="staticUrl" value="http://static.aladingyidong.com" />-->
    <add key="staticUrl" value=""/>
    <!--阿拉丁订单同步地址 暂不用-->
    <!--<add key="ALDGatewayURL" value="http://mapi.aladingyidong.com/Gateway.ashx" />-->
    <add key="ALDGatewayURL" value="" />

    <!--公众号登录授权服务(要加http://或https://,末尾不用加/斜杠)-->
    <add key="openOAuthUrl" value="http://openoauth.xgxshop.com" />

    <!--灵肯微秀场接口参数-->
    <add key="TokenUrl" value="http://www.vveshow.com/v1/token/get" />
    <add key="TicketUrl" value="http://www.vveshow.com/v1/ticket/getticket" />
    <add key="LinKinUrl" value="http://www.iloka.me/mobile.html?" />
    <add key="appid" value="lkwznrs8na51yr55q7" />
    <add key="secret" value="36e73a13026d4741a01e746c5240a33c" />

    <!--RedisOpenAPI URL-->
    <!--<add key="RedisApiUrl" value="http://redis.xgxshop.com/"/>-->
    <add key="RedisApiUrl" value="http://localhost:1209/"/>
    <add key="RabbitMqHost" value="host=119.29.58.16:5672;persistentMessages=false;virtualHost=emeisoft;username=emeisoft;password=emeisoft"/>
    <!--<add key="RabbitMqHost" value="host=119.29.58.16:5672;persistentMessages=false;virtualHost=xgxServer;username=emeisoft2018;password=emeisoft2018"/>-->
    <add key="IsOpenEventBus" value="true" />
    <add key="IsOpenVipEvent" value="true" />
    <add key="IsOpenUnitEvent" value="true" />
    <add key="IsOpenUserEvent" value="true" />
    <add key="IsOpenOrderEvent" value="true" />
    <add key="IsOpenOrderPaymanetEvent" value="false" />


  </appSettings>
  <system.web>
    <!--<customErrors  defaultRedirect='~/Error.aspx' mode='On'>
      <error statusCode="404" redirect="~/NotFound.aspx" />
    </customErrors>-->


    <httpRuntime requestValidationMode="2.0" maxRequestLength="102400" maxQueryStringLength='102400' executionTimeout="3600" />
    <pages validateRequest="false"></pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="120" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AuthServiceSoap" />
        <binding name="BasicHttpBinding_IMSTRIntegrationService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IMapKpiService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536000" maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">

          <readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />

          <security mode="None">

            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />

            <message clientCredentialType="UserName" algorithmSuite="Default" />

          </security>

        </binding>

        <binding name="UnitServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sso.chainclouds.cn/AuthService.asmx" binding="basicHttpBinding" bindingConfiguration="AuthServiceSoap" contract="AuthManagerWebServices.AuthServiceSoap" name="AuthServiceSoap" />
      <endpoint address="http://222.73.180.225:25161/MSTRIntegrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMSTRIntegrationService" contract="ReportService.IMSTRIntegrationService" name="BasicHttpBinding_IMSTRIntegrationService" />
      <endpoint address="http://www.jitmarketing.cn:18101/Impls/MapKpiService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMapKpiService" contract="MapKpiService.IMapKpiService" name="BasicHttpBinding_IMapKpiService" />
      <endpoint address="http://api.chainclouds.cn/WebServices/UnitService.asmx" binding="basicHttpBinding" bindingConfiguration="UnitServiceSoap" contract="UnitServiceSoap.UnitServiceSoap" name="UnitServiceSoap" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="GoSso.aspx" />
        <add value="loginAll.html" />
      </files>
    </defaultDocument>
    <staticContent>
      <!--<mimeMap fileExtension=".mp4" mimeType="video/mp4" />-->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>
    <caching>
      <profiles>
        <add extension=".jpg" policy="DontCache" kernelCachePolicy="CacheUntilChange" />
        <add extension=".png" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="00:00:30" />
        <add extension=".html" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="00:00:30" />
        <add extension=".js" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="00:00:30" />
        <add extension=".css" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="00:00:30" />
      </profiles>
    </caching>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxQueryString="204800">
          <!-- 链接过长临时解决 -->
        </requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
