<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="APConn" value="user id=dev;password=jit!2014;data source=112.124.68.147;database=cpos_ap;" />
    <add key="Conn" value="user id=dev;password=jit!2014;data source=112.124.68.147;database=cpos_bs;" />
    <add key="Conn_lj" value="user id=dev;password=jit!2014;data source=112.124.68.147;database=cpos_bs_lj;" />
    <add key="Conn_ap" value="user id=admin;password=JtLaxT7668;data source=115.159.97.144,2433;database=cpos_ap;" />
    <add key="RedisApiUrl" value="http://redis.api.test.chainclouds.cn/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>